VITE_WALLET_FACTORY_ADDR=
VITE_PRESET_POLICY_REGISTRY_ADDR=
VITE_GOVERNANCE_MULTISIG_ADDR=
VITE_POLICY_REGISTRY_ADDR=
VITE_AUDIT_LOG_ADDR=
VITE_MULTISIG_WALLET_ADDR=
VITE_TEST_TOKEN_ADDR=
VITE_EVALUATION_GATEWAY_ADDR=
VITE_EVALUATOR_PUB_KEY=0x04...
VITE_EVALUATOR_URL=http://localhost:3001
